@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
}

body {
    background: #061b3a;
}

.container {
    max-width: 80vw;
}



.logo {
    position: relative;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* .navbar{
    display: flex;
    height: 67px;
    cursor: pointer;
    margin-left: 1px;
} */

.header {
    margin-top: 2rem;
}


nav {
    margin-left: 2rem;
    margin-right: 4rem;
}

.navbar a {
    list-style: none;
    margin: 0 15px;
    font-size: 1.3rem;
    color: white;

}

.navbar a:hover {
    color: #0ef;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.topleft {
    width: 50%;
    padding-top: 10rem;

}

.topleft h3 {
    width: 105%;
    margin-left: 6rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: aliceblue;
}

.topleft h3 span {
    color: #0ef;
}

.topleft h1 {
    margin-left: 6rem;
    margin-top: 1rem;
    color: aliceblue;
    font-size: 3.5rem;
}

.topright {
    width: 50%;
}

.topright .img {
    width: 25rem;
    margin-top: 16px;
    margin-left: 100px;
    margin-top: 8rem;
}



.home-scl {
    margin-right: 3rem;
    margin-top: 1rem;
    text-align: center;
}


.home-scl a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 20px 10px 14px 0px;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-scl a:hover {
    background: #0ef;
    color: #001b29;
    box-shadow: 0 0 20px #0ef;

}

.btn-box {
    margin-top: 1rem;
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 10px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.5s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
    margin-left: 6rem;

}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.about-img img {
    width: 25rem;
    position: absolute;
    bottom: 4rem;

}

.about-text h2 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 15rem;
    margin-left: 6rem;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.5;
    margin: 15px 0 30px 118px;
    text-align: center;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 500px;
}

.btn1-box {
    margin-top: 1rem;
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 10px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.5s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
    margin-left: 50rem;
}

.services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    /* margin-bottom: 15rem; */

}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    color: antiquewhite;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    margin-top: 10rem;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.sub-title span {
    color: #0ef;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 1rem;

    opacity: 0;
    animation: slideTop .5s ease forwards;
    /* animation-delay: calc(.2s * var(--i)); */
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



.service-list div {
    border: 2px solid #0ef;
    border-radius: 8px;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
    padding: 2rem;
    cursor: pointer;
}

.service-list div:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
    transform: translateY(-10px);
}

.service-list .bx {
    font-size: 7rem;
    margin-left: 7rem;
    margin-top: -1rem;
}

.service-list h2 {
    text-align: center;
    color: cyan;
    margin-top: 1rem;
}

.service-list p {
    margin-top: 0.5rem;
}

.service-list a {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 10px;
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.5s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    margin-left: 7rem;
    margin-top: 1rem;
}

.service-list a:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}



.container1 {
    width: 50%;
    /* height: 500px; */
    /* padding: 75px 90px; */
    /* margin-left: 120px; */
    /* margin-top: -10rem; */

}

.container2 {
    margin-left: 50rem;
    /* margin-bottom: -20rem; */
    margin-top: -25rem;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: antiquewhite;
    margin-top: 3rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.heading2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    color: antiquewhite;
    margin-bottom: 50px;
    margin-right: 7rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}


.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText .5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 95%;
}

.progress-line.css span {
    width: 70%;
}

.progress-line.javascript span {
    width: 50%;
}

.progress-line.python span {
    width: 80%;
}

.progress-line.java span {
    width: 85%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "70%";
}

.progress-line.javascript span::after {
    content: "50%";
}

.progress-line.python span::after {
    content: "80%";
}

.progress-line.java span::after {
    content: "85%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    /* height: 160px; */
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
        ;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
        ;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: antiquewhite;
}

.portfolio-section {
    margin-top: -15rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-text {
    padding-top: 130px;
    margin-top: 200px;
    /* margin-top: 130px; */

}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: antiquewhite;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    margin-top: 10rem;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.main-text h2 span {
    color: #0ef;
}

.portfolio-content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(347px, auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    
}
.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 13rem;
    padding-left: 30px;
    margin-top: -6rem;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: antiquewhite;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    

}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgba(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgba(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
    color: antiquewhite;
}

.contact-list i {
    display: inline-block;
    /* color: #0ef; */
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icon i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



.contact-icon i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;


}


.contact-form textarea {
    resize: none;
    height: 220px;

}

.contact-form form .send {
    width: 100%;
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #0d1b25;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5ps #0ef, 0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 500;
    margin-top: 70px;
    color: antiquewhite;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;

}

.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem ;
}